/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/05/2015, 13:49:27
    Author     : Robson Gomes
*/

body {
    background-color: #f2f2f2 !important;
    color: #4e4e4e !important;
    font-family: inherit;
    margin-bottom: 60px;
}

html {
    position: relative;
    min-height: 100%;    
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background: #f9f9f9;
}

#fixed-principal-bar {
    width: 100%;
    box-shadow: none;
    background: #363635;
    border-top: 6px solid rgb(46, 109, 163);    
    padding: 0px;    
    box-shadow: 1px 1px 1px 1px #fff;
}

.alert {
    z-index: 99;
    margin-top: 80px;
    margin-bottom: 0px;
}
#fixed-second-bar {    
    width: 100%;
    box-shadow: none;    
    padding: 0px;   
    height: 60px;
    background-color: rgba(255,255,255,.85);
    box-shadow: 1px 1px 1px 1px gray;
    
}

#fixed-principal-bar a {
    color: #fff;
}
#fixed-second-bar a {
    color: gray;
    font-size: 16px;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    font-weight: bold;
    color: #444 !important;
}

#bs-example-navbar-collapse-1 {
    background: #363635;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: rgba(255, 255, 255, 1);
}

.titulo {
    border-bottom: 2px solid rgb(221, 221, 221);
    margin-bottom: 15px;
}

.titulo h1 {
    font-size: 2em !important;
    margin-top: 0;
    margin-bottom: 10px;
}

.titulo h2 {
    font-size: 1.5em !important;
    margin-top: 0;
    margin-bottom: 10px;
}

h1.titulosecao {
    font-size: 2em !important;
    margin-top: 0;
    margin-bottom: 10px;
}

h2.titulosecao {
    font-size: 1.5em !important;
    margin-top: 0;
    margin-bottom: 10px;
}

.container h3 {
    font-size: 22px;
}

.container h4 {
    font-size: 18px;
}

.box-project {
    height: 140px;
    background: #fff;    
    box-shadow: 1px 1px 1px 1px #dfdfdf;    
}
.table-dados {
    margin-top: 100px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #dfdfdf;  
}